[Unit]
Description="Kafka Service"
Requires=odsxzookeeper.service

[Service]
Type=simple
User=gsods
Group=gsods
ExecStart=/bin/bash /usr/local/bin/start_kafka.sh
ExecStop=/bin/bash /usr/local/bin/stop_kafka.sh

[Install]
WantedBy=multi-user.target