[Unit]
Description=Kafka Service (KRaft)

Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/bin/bash /giga/bin/start_kafka.sh
ExecStop=/bin/bash /giga/bin/stop_kafka.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target