[Unit]
Description=Kafka Service (KRaft)

Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=gsods
Group=gsods
ExecStart=/bin/bash /usr/local/bin/start_kafka.sh
ExecStop=/bin/bash /usr/local/bin/stop_kafka.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target