[Unit]
Description="GigaSpaces Service Grid"
After=network.target
#Requires=gsc.service

[Service]
Type=simple
ExecStart=/bin/bash ${app.giga.path}/bin/start_gsa.sh
ExecStop=/bin/bash ${app.giga.path}/bin/stop_gsa.sh
Restart=always

[Install]
WantedBy=default.target