[Unit]
Description="GigaSpaces Service Grid"
After=gsa.service
Requires=gsa.service

[Service]
Type=simple
ExecStart=/bin/bash ${app.giga.path}/bin/start_gsc.sh
ExecStop=/bin/bash ${app.giga.path}/bin/stop_gsc.sh
#RemainAfterExit=yes
Restart=on-failure

[Install]
WantedBy=default.target