{
  "cluster": {
    "name": "cluster-1",
    "configVersion": "0.95",
    "timestamp": "2021-05-31 20:16:34",
    "airGap": "true",
    "resumeModeAll": "true",
    "servers": {
      "resumeMode": "true",
      "managers": {
        "node": []
      },
      "cdc": {
        "resumeMode": "true",
        "node": [
          {
            "name": "jay-desktop-1",
            "ip": "127.0.0.1",
            "role": "admin",
            "resumeMode": "true"
          },
          {
            "name": "jay-desktop-2",
            "ip": "127.0.0.1",
            "role": "admin",
            "resumeMode": "true"
          }
        ]
      },
      "nb": {
        "resumeMode": "true",
        "node": [
          {
            "name": "3.140.195.199",
            "ip": "3.140.195.199",
            "role": "admin",
            "resumeMode": "false"
          },
          {
            "name": "18.116.28.1",
            "ip": "18.116.28.1",
            "role": "admin",
            "resumeMode": "false"
          }
        ]
      },
      "spaces": {
        "waitIntervalBeforeRecovery": 240,
        "partitions": {
          "primary": "1",
          "backup": "true"
        },
        "servers": {
          "host": [
          {
            "name": "odsx_test_samir_space1",
            "ip": "10.0.0.56"
          },
          {
            "name": "odsx_test_samir_space2",
            "ip": "10.0.0.200"
          },
          {
            "name": "odsx_test_samir_space3",
            "ip": "10.0.0.21"
          },  
          {
            "name": "odsx_test_samir_space4",
            "ip": "10.0.0.10"
          }                  
          ]
        },
        "zones":{

        },
        "containers":{
            
        }
      }
    },
    "streams": [
      {
        "id": "CT-259883",
        "name": "demo-stream-1",
        "description": "demo stream",
        "creationDate": "2021-06-11 20:16:34",
        "serverName": "jay-desktop-1",
        "serverip": "18.202.28.174",
        "serverPathOfConfig": "/home/dbsh/cr8/latest_cr8/etc/CR8Config.json.template",
        "status": "Stopped"
      },
      {
        "id": "CT-631216",
        "name": "demo-stream-2",
        "description": "demo stream 2",
        "creationDate": "2021-06-12 20:16:34",
        "serverName": "jay-desktop-2",
        "serverip": "18.116.28.1",
        "serverPathOfConfig": "/home/dbsh/cr8/latest_cr8/etc/CR8Config.json",
        "status": "Stopped"
      }
    ],
    "policyConfiguration" : {
      "policies" : [
        {
          "name": "spaceRecoveryPolicy",
          "description": "Space Server Recovery Policy For Leumi",
          "type": "Space",
          "definition": "com.gigaspaces.odsx.noderebalancer.leumiflow.SpaceServerRecoveryFlow",
          "parameters": {
            "waitIntervalAfterServerDown" : 15000,
            "waitIntervalForContainerCheckAfterServerUp" : 5000,
            "waitIntervalForDeletionAfterDemote" : 7000
          }
        },
        {
          "name": "tieredSpaceRecoveryPolicy",
          "description": "Tiered Storage Space Server Recovery Policy For Leumi",
          "type": "TsSpace",
          "definition": "com.gigaspaces.odsx.noderebalancer.leumiflow.TieredStorageSpaceServerRecoveryFlow"
        }
      ],
      "policyAssociations" : [
        {
          "targetNodeType": "Space",
          "nodes": ["10.0.0.109", "10.0.0.192" ],
          "policy": "spaceRecoveryPolicy",
          "gsc": {
                "count": 4,
                "zones": ["space"]
                }
              
        },
        {
          "targetNodeType": "TsSpace",
          "nodes": ["10.0.0.81", "10.0.0.230" ],
          "policy": "tieredSpaceRecoveryPolicy"
        }
      ]
    }
  }
}