[Unit]
Description="Adabas Service"
After=network.target odsxkafka.service

[Service]
Type=simple
ExecStart=/bin/bash ${app.giga.path}/bin/start_adabasFeeder.sh
ExecStop=/bin/bash ${app.giga.path}/bin/stop_adabasFeeder.sh
RemainAfterExit=yes
WorkingDirectory=/dbagigasoft/Adabas

[Install]
WantedBy=default.target