#cluster config properties
cluster.config.snapshot.time=5 sec
cluster.config.snapshot.maxbackup=10
cluster.config.snapshot.backup.path=backup
cluster.usingPemFile=False
#cluster.pemFile=aharon_ami.pem
cluster.pemFile=ps-share.pem
#logs config properties
app.log.file.path=logs
app.log.file.maxlogs=5
app.log.file.maxsize=5 Mb

#after version update path
app.backup.path=archieve
app.manager.hosts=
app.manager.gsOptionExt=-Dcom.gs.work=/dbagigawork -Dcom.gigaspaces.metrics.config=/dbagiga/gs_config/metrics.xml -Dcom.gigaspaces.logger.RollingFileHandler.filename-pattern.gs.logs=/dbagigalogs
app.manager.gsManagerOptions=-Dcom.gs.hsqldb.all-metrics-recording.enabled=false
app.manager.gsLogsConfigFile=/dbagiga/gs_config/xap_logging.properties
app.manager.license=tryme
app.server.user=gsods
app.user.nofile.limit=50000
app.space.hosts=
app.space.property.filePath=
app.space.property.filePath.target=
app.space.property.filepathbackup=
app.influxdb.hosts=
app.grafana.hosts=
app.di.hosts=
app.northbound.applicative.hosts=
app.northbound.management.hosts=
app.tieredstorage.demote.maxsuspendtime=30s
app.tieredstorage.restartcontainer.sleeptime=30
app.tieredstorage.demote.sleeptime=30
app.tieredstorage.pu.filepath=
app.tieredstorage.criteria.filepath=
app.tieredstorage.criteria.filepathbackup=
app.tieredstorage.criteria.filepath.target=
app.tieredstorage.drainmode=ATTEMPT
app.tieredstorage.drainTimeout=30s