{
  "cluster": {
    "name": "cluster-1",
    "configVersion": "0.95",
    "timestamp": "2021-05-31 20:16:34",
    "airGap": "true",
    "resumeModeAll": "true",
    "servers": {
      "managers": {
        "node": []
      },
      "cdc": {
        "node": [
        ]
      },
      "nb": {
        "node": []
      },
      "grafana":{
        "node": []
      },
      "influxdb":{
        "node": []
      },
    "dataIntegration": {
      "nodes": []
    },
    "dataValidation": {
          "nodes": []
    },
    "dataEngine": {
       "nodes": []
     },
      "spaces": {
        "partitions": {
          "primary": "1",
          "backup": "true"
        },
        "servers": {
          "host": []
        }
      }
    },
    "streams": [
    ],
    "replications": [],
    "policyConfiguration": {
      "policies": [
        {
          "name": "spaceRecoveryPolicy",
          "description": "Space Server Recovery Policy For Leumi",
          "type": "space",
          "definition": "com.gigaspaces.odsx.noderebalancer.leumiflow.SpaceServerRecoveryFlow",
          "parameters": {
            "waitIntervalAfterServerDown": 15000,
            "waitIntervalForContainerCheckAfterServerUp": 5000,
            "waitIntervalForDeletionAfterDemote": 7000
          }
        },
        {
          "name": "tieredspaceRecoveryPolicy",
          "description": "Tiered Storage Space Server Recovery Policy For Leumi",
          "type": "space",
          "definition": "com.gigaspaces.odsx.noderebalancer.leumiflow.TieredStorageSpaceServerRecoveryFlow",
          "parameters": {
            "waitIntervalAfterServerDown": 15000,
            "waitIntervalForContainerCheckAfterServerUp": 5000,
            "waitIntervalForDeletionAfterDemote": 7000
          }
        },
        {
            "name": "simpleSpaceRecoveryPolicy",
            "description": "Simple Space Recovery Policy For Leumi",
            "type": "space",
            "definition": "N/A",
            "parameters": {
              "waitIntervalAfterServerDown": "N/A",
              "waitIntervalForContainerCheckAfterServerUp": "N/A",
              "waitIntervalForDeletionAfterDemote": "N/A"
            }
        }
      ],
      "policyAssociations": []
    }
  }
}