{
  "cluster": {
    "name": "cluster-1",
    "configVersion": "0.95",
    "timestamp": "2021-05-31 20:16:34",
    "airGap": "true",
    "resumeModeAll": "true",
    "servers": {
      "resumeMode": "true",
      "managers": {
        "node": []
      },
      "cdc": {
        "resumeMode": "true",
        "node": [
          {
            "name": "jay-desktop-1",
            "ip": "127.0.0.1",
            "role": "admin",
            "resumeMode": "true"
          },
          {
            "name": "jay-desktop-2",
            "ip": "127.0.0.1",
            "role": "admin",
            "resumeMode": "true"
          }
        ]
      },
      "nb": {
        "resumeMode": "true",
        "node": []
      },
      "grafana":{
        "resumeMode": "true",
        "node": []
      },
      "influxdb":{
        "resumeMode": "true",
        "node": []
      },
    "dataIntegration": {
      "resumeMode": "true",
      "nodes": []
    },
    "dataValidation": {
          "resumeMode": "true",
          "nodes": []
    },
    "dataEngine": {
       "resumeMode": "true",
       "nodes": []
     },
      "spaces": {
        "partitions": {
          "primary": "1",
          "backup": "true"
        },
        "servers": {
          "host": []
        }
      }
    },
    "streams": [
      {
        "id": "CT-259883",
        "name": "demo-stream-1",
        "description": "demo stream",
        "creationDate": "2021-06-11 20:16:34",
        "serverName": "jay-desktop-1",
        "serverip": "18.202.28.174",
        "serverPathOfConfig": "/home/dbsh/cr8/latest_cr8/etc/CR8Config.json.template",
        "status": "Stopped"
      },
      {
        "id": "CT-631216",
        "name": "demo-stream-2",
        "description": "demo stream 2",
        "creationDate": "2021-06-12 20:16:34",
        "serverName": "jay-desktop-2",
        "serverip": "18.116.28.1",
        "serverPathOfConfig": "/home/dbsh/cr8/latest_cr8/etc/CR8Config.json",
        "status": "Stopped"
      }
    ],
    "replications": [],
    "policyConfiguration": {
      "policies": [
        {
          "name": "spaceRecoveryPolicy",
          "description": "Space Server Recovery Policy For Leumi",
          "type": "space",
          "definition": "com.gigaspaces.odsx.noderebalancer.leumiflow.SpaceServerRecoveryFlow",
          "parameters": {
            "waitIntervalAfterServerDown": 15000,
            "waitIntervalForContainerCheckAfterServerUp": 5000,
            "waitIntervalForDeletionAfterDemote": 7000
          }
        },
        {
          "name": "tieredspaceRecoveryPolicy",
          "description": "Tiered Storage Space Server Recovery Policy For Leumi",
          "type": "space",
          "definition": "com.gigaspaces.odsx.noderebalancer.leumiflow.TieredStorageSpaceServerRecoveryFlow",
          "parameters": {
            "waitIntervalAfterServerDown": 15000,
            "waitIntervalForContainerCheckAfterServerUp": 5000,
            "waitIntervalForDeletionAfterDemote": 7000
          }
        },
        {
            "name": "simpleSpaceRecoveryPolicy",
            "description": "Simple Space Recovery Policy For Leumi",
            "type": "space",
            "definition": "N/A",
            "parameters": {
              "waitIntervalAfterServerDown": "N/A",
              "waitIntervalForContainerCheckAfterServerUp": "N/A",
              "waitIntervalForDeletionAfterDemote": "N/A"
            }
        }
      ],
      "policyAssociations": []
    }
  }
}