{
  "cluster": {
    "name": "cluster-1",
    "configVersion": "0.95",
    "servers": {
      "managers": {
        "node": [
        ]
      },
      "nb": {
        "node": [
        ]
      },
      "spaces": {
        "servers": {
          "host": [
          ]
        }
      },
      "grafana": {
        "node": [
        ]
      },
      "influxdb": {
        "node": []
      },
      "dataIntegration": {
        "nodes": [
        ]
      },
      "dataValidation": {
        "nodes": []
      },
      "dataEngine": {
        "nodes": []
      }
    }
  }
}