[Unit]
Description = "GigaSpaces Service Grid"
After = network.target

[Service]
Type=simple
ExecStart=/bin/bash /giga/bin/start_gs.sh
ExecStop=/bin/bash /giga/bin/stop_gs.sh
Restart=always

[Install]
WantedBy = multi-user.target

