[Unit]
Description = "GigaSpaces Service Grid"
After = network.target

[Service]
Type=simple
ExecStart=/bin/bash ${app.giga.path}/bin/start_gs.sh
ExecStop=/bin/bash ${app.giga.path}/bin/stop_gs.sh
Restart=always

[Install]
WantedBy = multi-user.target

