[Unit]
Description="Data Validation Service"
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /giga/bin/start_data_validation.sh
ExecStop=/bin/bash /giga/bin/stop_data_validation.sh
RemainAfterExit=yes

[Install]
WantedBy=default.target
