[Unit]
Description="Data Validation Agent Service"
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /giga/bin/start_data_validation_agent.sh
ExecStop=/bin/bash /giga/bin/stop_data_validation_agent.sh
RemainAfterExit=yes

[Install]
WantedBy=default.target