[Unit]
Description="Zookeeper Service"
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash ${app.giga.path}/bin/start_zookeeper.sh
ExecStop=/bin/bash ${app.giga.path}/bin/stop_zookeeper.sh
RemainAfterExit=yes

[Install]
WantedBy=default.target